
.km-drawer-button:before, .km-drawer-button:after { content: "\E077"; }
.km-transaction-e:after,
    .km-transaction-e:before
    {
        content: "\e04f";
    }
.km-icon-target:after,
    .km-icon-target:before {
    	content: "\e063";
    }

#view-transitions
{
    overflow:auto;    
    
}
#view-transitions-content
{
    background-color: white;
    overflow: hidden;
    /*margin-top:9em;*/
    
}

#scanButton
{
    display: block;
    background-color: Green;
    text-align: center;
    margin: .6em 1.2em 0 0em;
    font-size: 2.0em;
    color: white;
}

.scanButton
{
    display: block;
    text-align: center;
}

#scanCam
{
    background-color: white;
    text-align: center;
    color: black;
}

.screenName
{
    background-color: rgba(36, 189, 255, 1);;
    text-align: center;
    color: white;
    line-height: 2em;
    margin-left:1em;
    margin-right:1em;
}

.summaryMain{
    display:inline;font-size: 1.1em;font-weight:bold;text-align:left;
}

.summarySub{
    display:block;font-size: 1em;text-align:center;
}

.summaryQty{
    display:inline;font-size: 1em;color:green;text-align:right
}

.subtitle {
    color: #999;
    font-size: 0.8em;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.8rem;
}
 .button {
    margin: 0 auto;
    margin-bottom: 14px;
    width: 30%;
}
.buttons {
    margin-top: 14px;
    text-align: center;
}

.km-flat .km-footer .km-navbar
{
    border-width: 1px 0 0;
    background-color: rgba(36, 189, 255, 1);
}


.km-icon .km-camera
{
    text-shadow: none;
}



#view-transitions .km-header
{
    position:absolute;
    z-index:1;
    background-color: white;
}
#view-transitions .km-content
{
    top: 9.5em;
    background-color: white;
}


.km-footer
{
    background-color: gray;
    bottom:0px;
    
}

#view-transitions .km-footer
{
    background-color: white;
    position:fixed;
}


.inputBox
{
    font-family: Bookman Old Style;
    background-color: #EFEFEF;
    color: #A7A7A7;
    width: 200px;
    padding: 7px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 #3C3C3C;
    font-size: 2.0em;
}

.inputBoxSearch
{
    font-family: Bookman Old Style;
    background-color: #EFEFEF;
    color: #A7A7A7;
    width: 200px;
    padding: 7px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    border-bottom-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 0 #3C3C3C;
    font-size: 1.0em;
     font-style: italic;
}

#headerProfile
{
    background-color: black;
    color: white;
    font-weight: bold; 
}

#appDrawer [data-rel=drawer]
{
    display: none;
}

.km-android #view-transitions .connections-button
{
    background-color: rgba(228, 42, 42, 1);
    text-align: center;
    font-size: 0.7em; 
    margin: .6em .8em 0.2em 1em;
    display: block;
    font-style: italic; 
}

.km-android #view-transitions .transitions-button,
.km-android #view-transitions .transitions-cancel
{
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.1em; 
    background-color: rgba(68, 75, 78, 1);
}
.transitions-button 
{
    background-color: white !important;
    text-align: center;
    font-size: 1.0em; 
    margin: .6em .8em 0.2em 1em;
    display: block;
}

.connections-button 
{
    background-color: white !important;
    text-align: center;
    font-size: 1.0em; 
    margin: .6em .8em 2.0em 1em;
    display: block;
    margin-bottom: 5px;
}

.details-link
{
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 43%; 
    background-color: Green !important;
    font-size: 0.9em;
    color: white !important;
    width: 20%;
}

.details-link2
{
    margin-top: -1em;
    position: absolute;
    right: 4.6em;
    top: 43%; 
    background-color: Red !important;
    font-size: 0.9em;
    color: white !important;
}

.connectionSelect
{
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 43%; 
    background-color: red !important;
    font-size: 0.9em;
    color: white !important;
    width: 20%;
}

.connectionSelected
{
    margin-top: -1em;
    position: absolute;
    right: 0.6em;
    top: 43%; 
    background-color: green !important;
    font-size: 0.9em;
    color: white !important;
    width: 20%;
}

#appDrawer a
{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 1.1em;
    padding: 0 15px;
    line-height: 45px;
    border-radius: 2px;
}

#appDrawer a:hover,
#appDrawer a.active:hover
{
    color: white;
    background-color: blue;
}

#appDrawer a.active
{
    color: #45719a;
}

#appDrawer-trigger span
{
    display: none;
}

.km-on-ios.km-black-translucent-status-bar.km-app .km-header .km-navbar
{
    padding-top: 1.3em;
    background-clip: border-box;
}

.km-header .km-navbar
{
    
    background-clip: border-box;
    background-color: rgba(36, 189, 255, 1) !important;
}

#modelNavbar
{
    padding-top: 0.3em;
}

.km-view-title, .km-dialog-title
{
    position: relative;
    visibility: visible;
    text-align: center;
    font-size: 1.4em;
    line-height: 2.3em;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#modalview-Alert .km-view-title, .km-dialog-title
{
    position: relative;
    visibility: visible;
    text-align: center;
    font-size: 1.4em;
    line-height: 0.4em;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.km-flat .km-button
{
    background: white;
    border-color: rgba(0, 0, 0, 0.1);
    color: black;
}

.modalview-login-button
{
    display: block;
    text-align: center;
    margin: .6em .8em 0;
    font-size: 1.2em;
    background-color: rgba(36, 189, 255, 1) !important;
    color: white!important;
}

#inventoryHeader
{
    color: white;
    background-color: black; 
    font-weight: bold; 
}

#sumOfItems, #numberOfDevices
{
    font-weight: bold;
    font-size: 1em;
    color: lightgreen;
    text-align: right;
}

#inventoryQuantity
{
    color: white;
    background-color: black; 
    font-weight: bold; 
}

#quantity
{
    font-weight: bold; 
    font-size: 1em;
    color: lightgreen;
    text-align: right
}

#chartdiv
{
    width: 100%;
    height: 400px;
    font-size: 11px;
}		

.loginStatusCondition
{
    display: block;
    text-align: center;
    font-size: 1.0em;
    color: Green;
}  					

.imageLocation {
    background:  transparent url(../views/images/iMobi.png) no-repeat center center fixed;
    /*background-size: contain;*/
}



.rounded{
    border-radius:5px;
    background-color:#FFFEF0;
    margin:10px;
    padding:10px;
}

.start{
     background-color: #A2B03F !important;
     width:48%;
}
.scan{
    background-color: #A2B03F !important;
    width:100%;
    margin-top:20px !important;
    margin-bottom:20px !important;
}
.stop{
     background-color: #DE4823 !important;
     width:48%;
}
#beaconlog{
    text-align: left; 
    width:100%; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    padding: 5px;
    margin-bottom:10px;
    color: #666;
}
#bookinfo{
    text-align: left; 
    width:100%; 
    padding: 5px;
    color: #666;
    font-size:2em;
    font-weight:bold;
    text-align:center;
}

.icon-focus:before {
	content: "\e01b";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-target:before {
	content: "\e04e";
}


/* iphone 4 -5, Samsumg*/
@media screen and (min-width:320px)
{ 
    .innovationImage
    {
    
        width: 20em;
        height: auto;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    .swipe
{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:1em;
}

}


/* iphone6*/
@media screen and (min-width:375px)
{ 
    .innovationImage
    {
    
        width: 23em;
        height: auto;
        margin: auto;
        margin-top: 1em;
        display: block;
    }
.swipe
{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:4em;
}

}

/*iphone6 plus*/
@media screen and (min-width:414px)
{ 
    .innovationImage
    {
        width: 25em;
        height: auto;
        margin: auto;
        margin-top: 1em;
        display: block;
    }
    
    #view-transitions .km-content
    {
        top: 10.5em;
        background-color: white;
    }
    
    .km-flat .km-button
    {
        background: white;
        border-color: rgba(0, 0, 0, 0.1);
        color: black;
        font-size:larger;
    }

    .swipe
{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:4em;
}

}

/*samsung tablet*/
@media screen and (min-width:600px)
{ 
    .innovationImage
    {
        width: 35em;
        height: auto;
        margin: auto;
        margin-top: 1em;
        display: block;
    }
    
    #view-transitions .km-content
    {
        top: 11.5em;
        background-color: white;
    }

    .swipe
{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:4em;
}

}

/*IPAD*/
@media screen and (min-width: 700px)
{ 
    .innovationImage
    {
        width: 45em;
        height: auto;
        margin: auto;
        margin-top: 1em;
        display: block;
    }

    #view-transitions .km-content
    {
        top: 13.5em;
        background-color: white;
    }
    
    .km-flat .km-button
    {
        background: white;
        border-color: rgba(0, 0, 0, 0.1);
        color: black;
        font-size:xx-large;
    }
    
    .swipe
{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    top:4em;
}

}

h4.time
    {
        color: #369;
        float: left;
        margin-right: 10px;
    }

#modalview-Profiles .km-virtual-list>li
{
    width: 100%;
    position: relative;
    top: 0;
    -webkit-transform: translateZ(0);
}


.swipe-wrap
{
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div
{
    float: left;
    width: 100%;
    position: relative;
}