<div data-role="view" data-title="Home" id="home" style="position:relative;" data-layout="main" data-model="app.Home" data-init="app.Home.init()" data-show="app.Home.show">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
        </div>
    </header>
    <div data-role="content">
        <ul data-role="listview" data-style="inset" data-type="group">
            <li>
                <ul>
                    <li id='headerProfile'>
                        <div id='userProfileNameHome' style="display:block;font-size: 1em;color:white"></div>
                    </li>
                    <li id='headerProfile'>
                        <div id='overall' style="display:block;font-size: 1em;color:white"></div>
                    </li>
                </ul>
            </li>
            <li>
                10 Day - Volume Changes
               <div id="chartdiv"></div>
            </li>
        </ul>
      
    </div>
    
    <!--<div id="values"></div>-->
    <!--<div id="chartContainer"></div>-->
</div>
